DATABASE_URL=postgresql://postgres.rldbmiowbuytocrylppu:0wVvosmq5Jm4gzjs@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres

DIRECT_URL=postgresql://postgres:0wVvosmq5Jm4gzjs@db.rldbmiowbuytocrylppu.supabase.co:5432/postgres
JWT_SECRET="change-this-super-secret"
JWT_EXPIRES_IN="7d"
PORT=5000
FRONTEND_URL=http://localhost:3000
# Production: FRONTEND_URL=https://your-frontend.vercel.app
